fastapi>=0.100.0
uvicorn[standard]>=0.23.0
pydantic<3.0.0 # Pydantic v1 for compatibility with DeepfakeBench
# torch, torchvision, torchaudio are installed via --index-url in Dockerfile
Pillow>=12.2.0,<12.3.0
opencv-python-headless==4.8.1.78
# numpy==1.21.5 # Exact version from DeepfakeBench install.sh for dlib compatibility
numpy>=2.4.6,<2.5.0 # Try a range compatible with PyTorch 1.12 and hopefully dlib
PyYAML>=6.0
scikit-learn==1.5.0
albumentations==1.1.0
timm==0.6.12
efficientnet-pytorch>=0.7.1
transformers>=5.9.0,<5.10.0

dlib>=19.22.0,<19.25.0

tensorboard>=2.9.0
kornia==0.6.12
imageio==2.9.0
imgaug==0.4.0
scipy==1.7.3
einops
lmdb
simplejson
fvcore
loralib
