torch
pillow
requests
rich
pandas
scikit-learn
numpy
matplotlib
seaborn
repo-to-text
kaggle 
tqdm
# DeepForensics dependencies
fastapi
uvicorn
python-multipart
timm
librosa
mediapipe
reportlab
retinaface
opencv-python
torchaudio
