fastapi==0.103.1
uvicorn==0.23.2
pydantic==2.3.0
aiohttp==3.14.3
python-multipart==0.0.31
pillow==12.3.0
requests
joblib
scikit-learn
pandas
lightgbm
xgboost
rich
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy==2.0.21